html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  line-height: 1.5;
}

small,
.small {
  font-size: 0.707rem;
}

.very-small,
{
  color: #7a7a7a;
  font-size: 0.6rem;
}
